body{
                background-color: rgb(247, 247, 247);
            }
            .test
            {
                background-color: white;
                padding:20px;
                border: 1px solid silver ;
                width: auto;
                text-align: center;   
                margin: auto;
            }
           
            .ahmed
            {
                display: inline;
                background-color: white;
                padding:5px;
                border: 15px solid white;
                margin: 10px auto;
                font-size: 50px;
                color: red;
                font-weight: bold;
                margin-right: 250px;
                margin-left: 250px;
                
            }
            .main
            {
                background-image: url('../images/picture3.PNG');
                width: 1486px;
                height: 892px;
                margin: auto;
    
       
            }
            .mm{width: 1400px; border: 0;}
            .name
            {
               
               margin-left: 100px;
               background-color: snow;
               border: 1px solid silver;
               border-radius: 5px;
               width: 250px;
               height: 50px;
               opacity: 0.7;
               color: black;
            }
            .name:hover{ opacity: 1;}
            .details
            {
                background-color: snow;
                border: 1px solid silver;
                border-radius: 5px;
                width: 505px;
                height: 50px;
                margin-left: 100px;
                margin-top: 20px;
                opacity: 0.7;
                color: black;
            }
            .details:hover{opacity: 1;}
            .check
            {
                margin-top: 10px;
                margin-left: 100px;
                padding: 10px;
                width: 20px;
                height: 20px;
            }
            .ll
            {
                background-color: snow;
                border: 1px solid silver;
                border-radius: 5px;
                width: 505px;
                height: 50px;
                margin-left: 100px;
                margin-top: 20px;
                opacity: 0.7;
                color: black;
            }
            .ll:hover{opacity: 1;}
            .sum
            {
                background-color:#ec5252 ;
                border: 1px solid #ec5252;
                border-radius: 5px;
                width: 505px;
                height: 50px;
                margin-left: 100px;
                margin-top: 2px;
                transition: .3s;
                color: black;
            }
            .sum:hover
            {
                opacity: 0.7;
                transform: scale(.9);
            }
            h1{
                font-size: 60px;
                margin-left: 100px;
                color: #045e72;
                
            }
            a
            {
                text-decoration: none;
            }
